<app-dashboard-heading [dashboardHeaderTitle]="title()" />
<div class="dashboard__section-body">
    <div class='dashboard__section-body--title'>
        <h3>Wprowadz dane dla paragonu</h3>
    </div>
    <form [formGroup]="addReceiptForm" (ngSubmit)="onSubmit()" >
        <table class="table-add">
            <tr class="table__tr">
                <th class="table__th" highlight>Nazwa sklepu</th>
                <th class="table__th" highlight>NIP</th>
                <th class="table__th" highlight>Łączna cena</th>
                <th class="table__th" highlight>Data zakupu</th>
            </tr>
            <tbody class="table__tbody">
                <tr class="table__tr">
                    <td class="table__td">
                        <input (click)="pasteTextIntoInput('shopName')" type="text" class="table__td--input" formControlName="shopName" />
                    
                        <div class='validation-feedback'>
                            @if(addReceiptForm.controls['shopName'].touched && addReceiptForm.controls['shopName'].invalid) {
                                @if(addReceiptForm.controls['shopName'].getError('required')){
                                    <span>Nazwa sklepu jest wymagana!</span>
                                }                           
                            }
                        </div>
                    </td>
                    <td class="table__td">
                        <input maxlength="13" placeholder="XXX-XXX-XX-XX"  (focus)="pasteTextIntoInput('nip')" type="text" class="table__td--input" formControlName="nip"
                            [value]="(addReceiptForm.get('nip')?.value) | nipFormat" />
                            <div class='validation-feedback'>
                                @if(addReceiptForm.controls['nip'].touched && addReceiptForm.controls['nip'].invalid) {
                                    @if(addReceiptForm.controls['nip'].getError('required')){
                                        <span>NIP jest wymagana!</span>
                                    }                           
                                }
                            </div>
                    </td>
                    <td class="table__td">
                        <input  (click)="pasteTextIntoInput('totalPrice')" type="text" class="table__td--input" formControlName="totalPrice"
                            validatorCharacterIsNumber />
                            <div class='validation-feedback'>
                            @if(addReceiptForm.controls['totalPrice'].touched && addReceiptForm.controls['totalPrice'].invalid) {
                                @if(addReceiptForm.controls['totalPrice'].getError('required')){
                                    <span>Łączna cena jest wymagana!</span>
                                } 
                                @if(addReceiptForm.controls['totalPrice'].getError('characterIsNumber')){
                                    <span>Podany znak nie jest liczbą</span>
                                }                           
                            }
                        </div>
                    </td>
                    <td class="table__td">
                        <mat-form-field>
                            <mat-label>Wybierz datę zakupu</mat-label>
                            <input  (click)="pasteTextIntoInput('dateOfPurchase')" matInput [matDatepicker]="picker" formControlName="dateOfPurchase">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </td>
                </tr>              
            </tbody>
        </table>
        <table class="table-add">
             <tbody class="table__tbody">
                <tr class="table__tr">
                    <td class="table__td">
                        <app-file-upload />
                    </td>
                </tr>
            </tbody>
            </table>
        <table class="table-add">
            <tr class="table__tr">
                <th class="table__th" highlight>Nazwa produktu</th>
                <th class="table__th" highlight>Ilość sztuk</th>
                <th class="table__th" highlight>Cena za sztukę</th>
                <th class="table__th" highlight>Łączna cena</th>
                <th class="table__th" highlight>Akcja</th>
            </tr>
            <tbody class="table__tbody">
                @for (t of listProducts.controls; track $index) {
                    
                <tr class="table__tr" formArrayName="listProducts">
                    <ng-container [formGroupName]="$index">
                        <td class="table__td">
                            <input (click)="pasteTextIntoInput('productName', $index)" type="text" class="table__td--input" formControlName="productName" />
                            <div class='validation-feedback'>
                                @if(listProducts.controls[$index].get('productName')?.touched &&
                                listProducts.controls[$index].get('productName')?.invalid){
                                    @if(listProducts.controls[$index].get('productName')?.getError('required')){
                                        <span>Nazwa produktu jest wymagana!</span>
                                    }                           
                                }
                            </div>                        
                        </td>
                        <td class="table__td">
                            <input (click)="pasteTextIntoInput('quantity', $index)" type="text" class="table__td--input" formControlName="quantity" />
                             <div class='validation-feedback'> 
                                @if(listProducts.controls[$index].get('quantity')?.touched &&
                                    listProducts.controls[$index].get('quantity')?.invalid){
                                    @if(listProducts.controls[$index].get('quantity')?.getError('required')){
                                        <span>Ilość sztuk wymagana!</span>
                                    } 
                                    @if(listProducts.controls[$index].get('quantity')?.getError('characterIsNumber')){
                                        <span>Podany znak nie jest liczbą</span>
                                    }                            
                                }
                            </div>                        
                        </td>
                        <td class="table__td">
                            <input  (click)="pasteTextIntoInput('price', $index)" type="text" class="table__td--input" formControlName="price" validatorCharacterIsNumber />
                            <div class='validation-feedback'> 
                                @if(listProducts.controls[$index].get('price')?.touched &&
                                    listProducts.controls[$index].get('price')?.invalid){
                                    @if(listProducts.controls[$index].get('price')?.getError('required')){
                                        <span>Cena za sztukę jest wymagana!</span>
                                    } 
                                    @if(listProducts.controls[$index].get('price')?.getError('characterIsNumber')){
                                        <span>Podany znak nie jest liczbą</span>
                                    }                            
                                }
                            </div>
                        </td>
                        <td class="table__td">
                            <input (click)="pasteTextIntoInput('totalPrice', $index)" type="text" class="table__td--input" formControlName="totalPrice"
                                validatorCharacterIsNumber />
                            <div class='validation-feedback'> 
                                @if(listProducts.controls[$index].get('totalPrice')?.touched &&
                                    listProducts.controls[$index].get('totalPrice')?.invalid){
                                    @if(listProducts.controls[$index].get('totalPrice')?.getError('required')){
                                        <span>Łączna cena jest wymagana!</span>
                                    } 
                                    @if (listProducts.controls[$index].get('totalPrice')?.getError('characterIsNumber')) {
                                        <span>Podany znak nie jest liczbą</span>
                                    }                            
                                }
                            </div>
                        </td>
                        <td class="table__td">
                            <div class="table__td--group-button-row">
                                <button type="button" class="button--add" (click)="addProduct()">
                                    Dodaj produkt
                                </button>
                                <button type="submit" class="button--delete" (click)="removeProduct($index)">
                                    Usuń produkt
                                </button>
                            </div>
                        </td>
                    </ng-container>
                </tr>
            }
            </tbody>
        </table>
        <div class="grid-container-button">
            <button type="submit" class="button--save">Zapisz paragon</button>
            <button type="button" class="button--reset" (click)="clearClipboard()">Czyść schowek</button>

        </div>
    </form>
</div>