@mixin border__linear-gradient {
   border-width: 3px;
   border-image-slice: 1;
   border-image-source: $gradient-text-color-blue-20;
   box-shadow: 0 0 2px 0 rgb(135, 160, 212);
}

.panel {
   @include border__linear-gradient;
   display: flex;
   flex-direction: column;
   border-style: solid;
   margin: 15px;
   .panel--section {
      min-height: 40px;
      &.panel--section__title {
         @include border__linear-gradient;
         border-bottom-style: solid;
         padding: 10px;
      }
      &.panel--section__body {
         padding: 10px;
      }
      &.panel--section__footer {
         @include border__linear-gradient;
         border-top-style: solid;
         padding: 10px;
      }
   }
}
