// @import "./reset.scss";
@import "./variables.scss";

.app {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
       background: #fff;
    // background-image: url('./image/tlo.jpg');
    // background-size: cover; /* Dostosowanie rozmiaru obrazu */
    // background-position: center; /* Wyśrodkowanie obrazu */
    // background-repeat: no-repeat; /* Zapobieganie powtarzaniu obrazu */
    font-family: "Montserrat", sans-serif;
   // color: #fff;
    .app__page {
        width: 100%;
    }
}

h2 {
    font-size: $font-size-xl;
    color: $black;
}

h3 {
    font-size: $font-size-md;
    color: $black;
    text-transform: uppercase;
}

label {
    font-size: $font-size-sm;
    color: $black;
}

.form-group {
    padding-right: 1rem;
    margin-top: 1rem;
}

fieldset {
    margin-top: 1rem;
}

@mixin outline--none {
    outline: none !important;
    -webkit-appearance: none;
    outline: 0;
}

input {
    &:focus {
        @include outline--none;
    }
    &:active {
        @include outline--none;
    }
}
