// @import "./reset.scss";
@import './components/text-color.scss';
@import './variables.scss';

.app {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    background: #fff;
    font-family: "Montserrat", sans-serif;
    .app__page {
        width: 100%;
    }
}

h2 {
    @extend .gradient-text-color-blue;
    font-size: $font-size-xl;
}

h3 {
    @extend .gradient-text-color-blue;
    font-size: $font-size-md;
    text-transform: uppercase;
}

label {
    @extend .gradient-text-color-blue;
    font-size: $font-size-sm;   
}

.form-group {
    padding-right: 1rem;
    margin-top: 1rem;
}

fieldset {
    margin-top: 1rem;
}

@mixin outline--none {
    outline: none !important;
    -webkit-appearance: none;
    outline: 0;
}

input {
    &:focus {
        @include outline--none;
    }
    &:active {
        @include outline--none;
    }
}
