@import "./app.scss";

.dashboard {
    margin: 9rem 3rem 3rem 3rem;

    .dashboard__heading {
        margin-bottom: 2rem;
        &.dashboard__heading--mail {
            margin-bottom: 0;
        }
    }
    .dashboard__section {
        border-width:3px;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right,#25a5d5, rgb(17 59 95 / 91%) 11%);
    border-style: solid;
        // box-shadow: $boxShadowBlack;
        padding: 2rem 1rem;
        margin: 15px;
        box-shadow: 0 0 2px 0 rgb(135, 160, 212);
    
    }
}

@media only screen and (max-width: 768px) {
    .dashboard {
        display: flex;
        margin-top: 21rem;
        justify-content: center;
    }
}
