@keyframes animation-navbar {
    0% {
        background: white;
    }
    50% {
        background: #c2c9d1;
    }

    100% {
        background: #ebeef2;
    }
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end; // wartość domyślna flex-start dla justify-content

    //  align-items:end;
    box-shadow: $boxShadow;
    animation: animation-navbar 20s ease-in-out;
    .navbar__wrapper {
        display: flex;
        height: 100%;
        padding: 20px 0 20px 0;

        .navbar__section {
            margin-left: 1rem;
            .navbar__routerLink {
                color: #000;
                text-decoration: none;
            }
        }
    }
}
