.navbar {
    position: fixed;
    display: flex; 
    width: 100%; 
    justify-content: flex-end; // wartość domyślna flex-start dla justify-content
    background: linear-gradient(to right, #25a5d5, rgb(17 59 95 / 91%) 11%);
    z-index: 1;
    box-shadow: $boxShadowBlack;
    padding-right: 50px; 

    .navbar__wrapper {
        display: flex;
        margin: 5px 10px;
        padding: 10px 0 10px 0;
        border: 1px solid white;
        border-radius: 5px;

        .navbar__section {
            margin: 5px 10px;
            color: #fff;
            .navbar__routerLink {
                color: #fff;
                text-decoration: none;
                cursor: pointer;
            }
        }
        &:last-child {
            border: none;
            border-radius: none;
        }
    }
}

@media only screen and (max-width: 768px) {
    .navbar {
        display: grid; 
        justify-content: center;
     
        .navbar__wrapper {
            width: 200px;
        }
    }
}
