@keyframes animation-navbar {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

.navbar {
    position: fixed;
    display: flex;
    top: 0px;
    width: 100%;
    flex-direction: row;
    justify-content: flex-end; // wartość domyślna flex-start dla justify-content
    background: linear-gradient(to right, #25a5d5, rgb(17 59 95 / 91%) 11%);

    box-shadow: $boxShadowBlack;
    padding-right: 50px;
    // animation: animation-navbar 20s ease-in-out;
    animation: gradient-animation 5s linear infinite;

    .navbar__wrapper {
        display: flex;
        margin: 5px 10px;
        padding: 10px 0 10px 0;
        border: 1px solid white;
        border-radius: 5px;

        .navbar__section {
            margin: 5px 10px;
            color: #fff;
            .navbar__routerLink {
                color: #fff;
                text-decoration: none;
                cursor: pointer;
            }
        }
        &:last-child {
            border: none;
            border-radius: none;
        }
    }
}

@media only screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        .navbar__wrapper {
            width: 200px;
        }
    }
}
