<app-dashboard-heading [titleDashboard]="title"></app-dashboard-heading>
<div class="dashboard__section">
    <div class="dashboard__heading">
        <h3>Wprowadź dane</h3>
    </div>

    <div class="panel--form">
        <form [formGroup]="registrationForm" (ngSubmit)="registration()">
            <div class="grid-container">
                <label class="panel--label" for="userName">Nazwa użytkownika<sup>*</sup></label>
                <input class="panel--input" required type="text" formControlName="username" />
                <div class="validation-feedback">
                    <div
                        *ngIf="registrationForm.controls['username'].touched || registrationForm.controls['username'].dirty">
                        <div *ngIf="registrationForm.controls['username'].hasError('required')">
                            Nazwa użytkownika jest wymagana!
                        </div>
                        <div *ngIf="registrationForm.controls['username'].getError('minlength') as error">
                            Długość znaków musi być {{error.requiredLength}}. Brakuje {{error.requiredLength -
                            error.actualLength}} znaku/ów!
                        </div>
                    </div>
                </div>


                <label class="panel--label" for="password">Hasło<sup>*</sup></label>
                <input class="panel--input" required type="text" formControlName="password" />
                <div class="validation-feedback">
                    <div
                        *ngIf="registrationForm.controls['password'].touched || registrationForm.controls['password'].dirty">
                        <div *ngIf="registrationForm.controls['password'].hasError('required')">
                            Hasło użytkownika jest wymagane!
                        </div>

                        <div *ngIf="registrationForm.controls['password'].errors">
                            Hasło musi zawierać

                            <span *ngIf="registrationForm.controls['password'].getError('lowercase') === false ">
                                małe litery
                            </span>
                            <span *ngIf="registrationForm.controls['password'].getError('uppercase') === false ">
                                duże litery
                            </span>!
                        </div>
                    </div>
                </div>

                <label class="panel--label" for="password">Powtórz hasło<sup>*</sup></label>
                <input class="panel--input" required type="text" formControlName="repeatPassword" />
                <div class="validation-feedback">
                    <div
                        *ngIf="registrationForm.controls['repeatPassword'].touched || registrationForm.controls['repeatPassword'].dirty">


                        <div *ngIf="registrationForm.hasError('password_match')">
                            <span>Hasła muszą być identyczne</span>
                        </div>
                    </div>
                </div>

                <label class="panel--label" for="email">Email<sup>*</sup></label>
                <input class="panel--input" required type="text" formControlName="email" />
                <div class="validation-feedback">
                    <div *ngIf="registrationForm.controls['email'].touched || registrationForm.controls['email'].dirty">

                        <div *ngIf="registrationForm.controls['email'].hasError('required')">
                            Email użytkownika jest wymagany!
                        </div>
                        <div *ngIf="registrationForm.controls['email'].hasError('email')">
                            Adres email jest niepoprawny!
                        </div>
                    </div>
                </div>

                <label class="panel--label" for="type">Typ<sup>*</sup></label>
                <select class="panel--select" required formControlName="type" name="type">
                    <option [value]="CustomerType.Standard">Standard</option>
                    <option [value]="CustomerType.Premium">Premium</option>
                    <option [value]="CustomerType.VIP">VIP</option>
                </select>

            </div>
            <div class="grid-container">
                <button type="submit" class="button--reset">Resetuj</button>
                <button type="submit" class="button--save">Rejestracja</button>
            </div>
        </form>
    </div>

</div>