<app-dashboard-heading [dashboardHeaderTitle]="title" />
<div class="dashboard__section-body">
    <div class="dashboard__section-body--title">
        <h3>Wprowadź dane</h3>
    </div>

    <div class="panel--form">
        <form [formGroup]="registrationForm" (ngSubmit)="registration()">
            <div class="grid-container-form">
                <label class="panel--label" for="userName">Nazwa użytkownika<sup>*</sup></label>
                <input class="panel--input" required type="text" formControlName="username" />
                <div class="validation-feedback">
                    @if(registrationForm.controls['username'].touched || registrationForm.controls['username'].dirty){

                        @if(registrationForm.controls['username'].hasError('required')){
                            <span>Nazwa użytkownika jest wymagana!</span>
                        }
                        @if(registrationForm.controls['username'].getError('minlength'); as error){
                        <span>
                            Długość znaków musi być {{error.requiredLength}}. Brakuje {{error.requiredLength -
                            error.actualLength}} znaku/ów!
                        </span>
                        }
                    }
                </div>


                <label class="panel--label" for="password">Hasło<sup>*</sup></label>
                <input class="panel--input" required type="text" formControlName="password" />
                <div class="validation-feedback">
                    @if (registrationForm.controls['password'].touched || registrationForm.controls['password'].dirty) {

                        @if(registrationForm.controls['password'].hasError('required')){
                            <span>Hasło użytkownika jest wymagane!</span>
                        }
                        @if(registrationForm.controls['password'].errors){
                            <span>
                                Hasło musi zawierać
                                @if(registrationForm.controls['password'].getError('lowercase') === false ){
                                    <span> małe litery</span>
                                }
                                @if(registrationForm.controls['password'].getError('uppercase') === false ){
                                    <span> duże litery </span>
                                }
                            </span>
                        }
                    }
                </div>


                <label class="panel--label" for="password">Powtórz hasło<sup>*</sup></label>
                <input class="panel--input" required type="text" formControlName="repeatPassword" />
                <div class="validation-feedback">
                    @if(registrationForm.controls['repeatPassword'].touched || registrationForm.controls['repeatPassword'].dirty){
                        @if(registrationForm.hasError('passwordMatch')){
                            <span>Hasła muszą być identyczne</span>
                        }
                    }                    
                </div>

                <label class="panel--label" for="email">Email<sup>*</sup></label>
                <input class="panel--input" required type="text" formControlName="email" />
                <div class="validation-feedback">
                    @if(registrationForm.controls['email'].touched || registrationForm.controls['email'].dirty){ 
                        @if(registrationForm.controls['email'].hasError('required')){
                            <span>Email użytkownika jest wymagany!</span>
                        }
                        @if(registrationForm.controls['email'].hasError('email')){
                            <span>Adres email jest niepoprawny!</span>
                        }
                    }
                </div>

                <label class="panel--label" for="type">Typ<sup>*</sup></label>
                <select class="panel--select" required formControlName="type" name="type">
                    <option [value]="CustomerType.Standard">Standard</option>
                    <option [value]="CustomerType.Premium">Premium</option>
                    <option [value]="CustomerType.VIP">VIP</option>
                </select>

            </div>
            <div class="grid-container-button">
                <button type="submit" class="button--reset">Resetuj</button>
                <button type="submit" class="button--save">Rejestracja</button>
            </div>
        </form>
    </div>

</div>