@import '../variables.scss';

@mixin button {
    display: flex;
    justify-content: space-around;
    width: fit-content;
    flex-wrap: wrap;
    margin: 10px 20px 10px 20px;
    padding: 10px;
    color: white;
}
@mixin button--border-image {
    border-width: 2px;
    border-image-slice: 1;
}

.button--show-hide-products {
    @include button;
    @include button--border-image;
    border-image-source: $gradient-text-color-blue-20;
    background-image: $gradient-text-color-blue-70;
}

.button--save {
    @include button;
    @include button--border-image;
    border-image-source: $gradient-text-color-blue-20;
    background-image: $gradient-text-color-blue-70;
}
.button--delete {
    @include button;
    @include button--border-image;
    border-image-source: $gradient-text-color-red;
    background-image: $gradient-text-color-red;
}
.button--reset {
    @include button;
    @include button--border-image;
    border-image-source:  $gradient-text-color-blue-20;;
    background-image: $gradient-text-color-gray-70;
}
input::file-selector-button {
    @extend .button--reset;
    width: 40%;
    cursor: pointer;
}
