@import "../variables.scss";

@mixin button {
    margin: 10px 20px 0 20px;
    // width: auto;
    padding: 10px;
    color: white;
}
@mixin button--border-image {
    border-width: 2px;
    border-image-slice: 1;
}
.button--save {
    @include button;
    @include button--border-image;
    border-image-source: linear-gradient(to right, #25a5d5, rgb(17 59 95 / 91%) 20%);
    background-image: linear-gradient(to right, #25a5d5, rgb(17 59 95 / 91%) 70%);
}
.button--delete {
    @include button;
    @include button--border-image;
    border-image-source: linear-gradient(to right, #f59095e8 0%, #f13e3e 100%);
    background-image: linear-gradient(to right, #f59095e8 0%, #f13e3e 100%);
}
.button--reset {
    @include button;
    @include button--border-image;
    border-image-source: linear-gradient(to right, #25a5d5, rgb(17 59 95 / 91%) 20%);
    background-image: linear-gradient(to right, #f0f0f0, rgba(95, 97, 99, 0.91) 70%);
}
input::file-selector-button {
    @extend .button--reset;
    width: 42%;
    cursor: pointer;
}
