@import './button.scss';
@mixin grid-container {
    display: grid;
    grid-template-rows: auto auto auto auto;
    gap: 3px 0px;
    align-items: center;
}
@mixin gradient-border-settings {
    border-width: 2px;
    border-image-slice: 1;
}
.grid-container-form {
    @include grid-container;
    grid-template-columns: 1fr 2fr;
}

.grid-container-button {
    @include grid-container;
    grid-template-columns: 2fr;
    grid-template-rows: auto auto auto auto;
    gap: 3px 0px;
    align-items: center;
}

.panel--form {
    text-align: center;
}

.panel--label {
    grid-column: 1 / 2;
    text-align: right;
    margin-right: 10px;
}

.panel--input {
    grid-column: 2 / 3;
    width: 70%;
    height: 100%;
    @include gradient-border-settings;
    border-image-source: $gradient-text-color-blue-20;
}

.panel--select {
    width: 72%;
    height: 127%;
    @include gradient-border-settings;
    border-image-source: $gradient-text-color-blue-20;
}

.validation-feedback {
    grid-column: 2 / 3;
    color: red;
    font-size: x-small;
    min-height: 20px;
    text-align: left;
}

.grid-container-form .panel--input.ng-invalid.ng-touched,
.grid-container-form .panel--input.ng-invalid.ng-dirty {
    @include gradient-border-settings;
    border-image-source: $gradient-text-color-red;
}

@media only screen and (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
    }

    .panel--label,
    .panel--input,
    .validation-feedback {
        grid-column: 1 / -1; /* Wszystkie elementy zajmują całą szerokość */
        text-align: left;
    }
}
