.table-add,
.table-list {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;

    .table__tr {

        .table__td {
            padding: 0px 0px 0px 10px;
            justify-content: left;
            vertical-align: middle;
            font-size: $font-size-sm;
            color: $dark-secondary;

            .table__td--group {
                display: flex;
                flex-direction: row;
            }

            .table__td--group-button {
                display: flex;
                flex-direction: column;
            }

            .table__td--input {
                width: 70%;
                height: 20px;
                border-width: 2px;
                border-image-slice: 1;
                border-image-source: $gradient-text-color-blue-20;
            }
            mat-form-field {
                width: 100%;
                white-space: normal;
            }

            mat-label {
                white-space: normal;
            }

            input[matInput] {
                width: 100%;
            }
        }
    }

    .table__tr {
        border-bottom: 1px solid grey;

        .table__th {
            text-align: left;
            padding: 15px;
            width: 25%;
        }
    }
}

.table-list .table__th:first-of-type {
    width: 10%;
}

.table-list .table__th:nth-of-type(6) {
    width: 15%;
}

@media only screen and (max-width: 768px) {
    .table-add,
    .table-list {
        border: none;
        display: flex;

        .table__tr {
            display: flex;
            flex-direction: column;

            .table__th {
                display: flex;
                text-align: left;
                border-bottom: 1px solid #ddd;
                width: auto;
                white-space: nowrap;
            }
        }

        .table__tbody {

            .table__tr {
                display: flex;
                flex-direction: column;

                .table__td {
                    display: flex;
                    text-align: left;
                    height: 36px;
                    padding-top: 10px;
                    border-bottom: 1px solid #ddd;
                }

                .table__td:last-child {
                    height: auto;
                    width: 70%;
                    white-space: normal;
                }
            }
        }
    }
    .table-list .table__tr .table__td:nth-of-type(7) {
        height: auto;   
    }
}
