@keyframes rainbow-text-simple-animation-rev {
    0% {
        background-size: 650%;
    }
    40% {
        background-size: 650%;
    }
    100% {
        background-size: 100%;
    }
}

@keyframes rainbow-text-simple-animation {
    0% {
        background-size: 100%;
    }
    80% {
        background-size: 650%;
    }
    100% {
        background-size: 650%;
    }
}

.gradient-text {
    background: linear-gradient(to right, #25a5d5, rgb(17 59 95 / 91%) 20%);
    color: transparent;
    background-clip: text;
    display: inline-block;
    animation: rainbow-text-simple-animation-rev 3s ease forwards;
}

.gradient-text:hover {
    animation: rainbow-text-simple-animation 2s linear forwards;
}
