<div class="dashboard">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="error-template">
                    <h3>Oops!</h3>
                    <h2>((status + ' ' + message))</h2>
                    <div class="error-details mb-5 pt-5">
                        Żądana strona nie została znaleziona!
                    </div>
                    <div class="error-actions">
                        <a routerLink="/home" class="btn btn-danger btn-lg">
                           Wróć do strony głownej
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>