<div class='dashboard__section-body'>
    <div class='dashboard__section-body--error'>
        <h3 class='gradient-text-color-red'>Oops!</h3>
    </div>
    <div class='dashboard__section-body--error'>
        <h2 class='gradient-text-color-blue'>((status + ' ' + message))</h2>
    </div>
    <div class='dashboard__section-body--error'>
        Żądana strona nie została znaleziona!
    </div>
    <div class='dashboard__section-body--error'>
        <a class='gradient-text-color-blue' [routerLink]="'/home'">
            Wróć do strony głównej
        </a>
    </div>
</div>