<div class='dashboard__section dashboard__section--small'>
    <div class='dashboard__heading dashboard__heading--mail'>
        <div class='error-section'>
            <h3 class='gradient-text-color-red'>Oops!</h3>
        </div>
        <div class='error-section'>
            <h2 class='gradient-text-color-blue'>((status + ' ' + message))</h2>
        </div>
        <div class='error-section'>
            Żądana strona nie została znaleziona!
        </div>
        <div class='error-section'>
            <div>
                <a class='gradient-text-color-blue' [routerLink]="'/home'">
                    Wróć do strony głównej
                </a>
            </div>
        </div>
    </div>
</div>