<app-dashboard-heading [titleDashboard]="title"/>
<div class="dashboard__section">
    <div class="dashboard__heading">
        <h3>Lista paragonów</h3>
    </div>
    <table class="table">
        <tr class="table__tr ">
            <th class="table__th" highlight>#</th>
            <th class="table__th" highlight>ID paragonu</th>
            <th class="table__th" highlight>Nazwa sklepu</th>
            <th class="table__th" highlight>NIP</th>
            <th class="table__th" highlight>Cena </th>
            <th class="table__th" highlight>Data zakupu</th>
            <th class="table__th" highlight>Lista produktów</th>
            <th class="table__th" highlight>Obraz paragonu</th>
        </tr>
        <tbody class="table__tbody">
            <tr class="table__tr" *ngFor="let receipt of listOfReceipts; let i = index;">

                <td class="table__td">{{i+1}}</td>
                <td class="table__td">{{receipt.id}}</td>
                <td class="table__td">{{receipt.storeName}}</td>
                <td class="table__td">{{receipt.NIP}}</td>
                <td class="table__td">{{receipt.totalPrice}}</td>
                <td class="table__td">{{moment(receipt.dateOfPurchase).format('YYYY.MM.DD')}}</td>
                <td class="table__td">
                    <button type="button" class="button--save"
                        (click)="showProducts(receipt.receiptId)">
                        {{ receipt.visibleReceipts ? 'Ukryj produkty': 'Pokaż produkty' }}
                    </button>
                </td>
                <ng-container *ngFor="let products of productsReceipt[receipt.receiptId ]">
                    <ng-template [ngIf]="products.visibleReceipts">
                        <p>
                            <strong> {{products.name}}</strong>
                            Ilość sztuk: {{products.quantity}}
                            Cena za sztukę: {{products.price}}
                            Łączna cena: {{products.productTotalPrice}}
                        </p>
                    </ng-template>
                </ng-container>

                <td class="table__td">
                    <button type="button" class="button--reset"
                        (click)="showImage(receipt.receiptId)">
                        {{ receipt.visibleImage ? 'Ukryj obraz': 'Pokaż obraz' }}
                    </button> 
                    <app-modal-container [listOfReceiptsWithProducts]="listOfReceiptsWithProducts" [receiptId]="receipt.receiptId"></app-modal-container>
                 </td>
                <ng-container *ngFor="let image of imageReceipt[receipt.receiptId]">
                    <ng-template [ngIf]="image.visibleImage">
                        <img [src]="image.base64">
                    </ng-template>
                </ng-container>
            </tr>
        </tbody>
    </table>
</div>