<app-dashboard-heading [titleDashboard]="title" />
<div class="dashboard__section">
    <div class="dashboard__heading">
        <h3>Wprowadź dane</h3>
    </div>
    <div class="panel--form">
        <form id="login-form" [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="grid-container-form">
                <label class="panel--label" for="username">Nazwa klienta<sup>*</sup></label>
                <input class="panel--input" type="text" formControlName="username" name="username" />

                <div class="validation-feedback">
                    @if(loginForm.controls['username'].touched || loginForm.controls['username'].dirty){
                        @if(loginForm.controls['username'].getError('required')){
                            <span>Nazwa użytkownika jest wymagana!</span>
                        }
                        @if(loginForm.controls['username'].getError('minlength'); as error ){
                            <span>
                                Długość znaków musi być {{error.requiredLength}}. Brakuje {{error.requiredLength -
                                error.actualLength}} znaku/ów!
                            </span>
                        }
                    }
                </div>

                <label class="panel--label" for="password">Hasło<sup>*</sup></label>
                <input class="panel--input" type="password" formControlName="password" name="password" />
                <div class="validation-feedback">
                    @if(loginForm.controls['password'].touched || loginForm.controls['password'].dirty){                
                        @if(loginForm.controls['password'].getError('required')){
                            <span>Hasło użytkownika jest wymagane!</span>
                        }
                    }
                </div>
            </div>
            @if(incorrectPasswordOrLogin.status){
                <div class="validation-feedback">
                    {{incorrectPasswordOrLogin.text}}
                </div>
            }
            <div class="grid-container-button">
                <button type="submit" class="button--save" id="Login" title="Login">Login</button>
            </div>
        </form>
    </div>
</div>